<h2>Меню администратора</h2>
<a class="buttonLink large">Пользователи</a>
<a class="buttonLink large">Волонтеры</a>
<a class="buttonLink large">Благотворительные организации</a>
<a class="buttonLink large">Инвентарь</a>
