<h2>Меню бегуна</h2>
<a class="buttonLink large">Регистрация на марафон</a>
<a class="buttonLink large">Мои результаты</a>
<a class="buttonLink large">Редактирование профиля</a>
<a class="buttonLink large">Мой спонсор</a>
<a class="buttonLink large">Контакты</a>
