<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <meta name="viewport" content="width=device-width" />
    
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <a href="" class="buttonLink" id="backButton">Назад</a>
        <h1 class="d-inline">MARATHON SKILLS 2019</h1>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="buttonLink" asp-action="Destroy" asp-controller="Sessions">Logout</a>
        }
    </header>
    <div class="text-center">
        @RenderBody()
    </div>
    <footer>
        <div class="horizontalCenter">18 дней 8 часов и 17 минут до старта марафона!</div>
    </footer>
    <script>
        $(document).ready(function () {
            $("#backButton").click(function () { history.back(1); return false;});
        });
    </script>
</body>
</html>
