<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <input type="button" value="Назад" />
        <div>
            <h1>MARATHON SKILLS 2019</h1>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="horizontalCenter">18 дней 8 часов и 17 минут до старта марафона!</div>
    </footer>
</body>
</html>
