<div id="askNewAccount" class="buttonsContainer">

    @Html.ActionLink("Я участвовал ранее", "New", "Sessions", null, new { @class = "buttonLink large" })
    @Html.ActionLink("Я новый участник", "New", "Runners", null, new { @class = "buttonLink large" })
</div>