
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
    font-family: Arial;
    margin: 0px;
    margin-bottom: 60px;
    color: rgb(80, 80, 80);
    font-size: 14pt;
    font-weight: 300;
}

header {
    background-color: rgb(80,80,80);
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
}

header h1{
    color: white;
}

header h2 {
    color: rgb(180, 180, 180);
    font-style: italic;
}

.horizontalCenter {
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px;
    background-color: rgb(80,80,80);
    color: white;
}

.buttonsContainer {
    margin-left: auto;
    margin-right: auto;
}

#homePage .buttonsContainer{
    width: 20em;
}

#infoPage .buttonsContainer {
    width: 24em;
}

.buttonLink {
    background-color: rgb(235, 235, 235);
    border-color: rgb(180, 180, 180);
    border-style: solid;
    border-radius: 0.5em;
    text-align: center;
    text-decoration: none;
    border-width: thin;
    padding: 0 10px;
    color:inherit;
    line-height: 32px;
    display: inline-block;
}

.buttonLink.large{
    padding: 1em;
    margin: 1em;
    font-size: 16pt;
}

.buttonsContainer a.buttonLink {
    display: block;
}

.buttonLink:visited {
    color: inherit;
    text-decoration: none;
}

.buttonLink:hover {
    box-shadow: rgb(180,180,180) 1px 1px 4px 1px;
    text-decoration: none;
}

.buttonLink:active {
    box-shadow: none;
}

#homePage .buttonLink {
    font-size: 14pt;
    width: 100%;
    margin: 8px auto 8px auto;
}

.buttonLink#loginButton {
    width: 5em;
    position: absolute;
    right: 20px;
    bottom: 60px;
}

header a.buttonLink {
    padding: 0.3em;
    vertical-align: super;
    display:inline;
}

.charityItem img{
    width: 15%;
    vertical-align: top;
}

.charityItem div{
    width: 80%
}

.charityItem img, .charityItem div{
    display: inline-block;
}

#currentPageLink{
    color: black;
}
