<div id="infoPage">
    <h2 >Подробная информация</h2>
    <div class="buttonsContainer">

        @Html.ActionLink("Marathon Skills 2019", "Index", "Info", null, new { @class = "buttonLink" })
        @Html.ActionLink("Насколько долгий марафон", "Index", "Info", null, new { @class = "buttonLink" })
        @Html.ActionLink("Предыдущие результаты", "Index", "Info", null, new { @class = "buttonLink" })
        @Html.ActionLink("Список благотворительных организаций", "Index", "Charities", null, new { @class = "buttonLink" })
    </div>
</div>

