<!DOCTYPE html>

<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="horizontalCenter">
        <h1>MARATHON SKILLS 2019</h1>
        <h2>Москва, Россия</h2>
        <h2>четверг, 19 декабря 2019</h2>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="horizontalCenter">18 дней 8 часов и 17 минут до старта марафона!</div>
    </footer>
</body>
</html>
