@{ 
    Layout = "_HomeLayout.cshtml";
}
<div id="homePage">
    <div class="horizontalCenter verticalCenter buttonsContainer">
        @Html.ActionLink("Я хочу стать бегуном", "AskNewAccount", "Runners", null, new {@class= "buttonLink large"})
        @Html.ActionLink("Я хочу стать спонсором бегуна", "Index", "Info", null, new {@class= "buttonLink large"})
        @Html.ActionLink("Я хочу узнать больше о событии", "Index", "Info", null, new {@class= "buttonLink large"});
    </div>
    @Html.ActionLink("Login", "New", "Sessions", null, new {@class= "buttonLink", id="loginButton"})
</div>