@{ 
    Layout = "_HomeLayout.cshtml";
}
<div id="homePage">
    <div class="horizontalCenter verticalCenter" id="buttonsContainer">
        <input type="button" value="Я хочу стать бегуном" />
        <input type="button" value="Я хочу стать спонсором бегуна" />
        <input type="button" value="Я хочу узнать больше о событии" />
    </div>
    <input id="loginButton" type="button" value="Login" />
</div>